trigger: none

pool:
  name: Default

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    backendServiceArm: 'conn-terraform'
    backendAzureRmOverrideSubscriptionID: 'd50c38d2-13bf-4ffd-9f5a-6831160e665d'
    backendAzureRmResourceGroupName: 'demo-dinu007'
    backendAzureRmStorageAccountName: 'demodinu007'
    backendAzureRmContainerName: 'containerdinu007'
    backendAzureRmKey: 'dinu.terraform_state'


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'conn-terraform'
    environmentAzureRmOverrideSubscriptionID: 'd50c38d2-13bf-4ffd-9f5a-6831160e665d'


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    environmentServiceNameAzureRM: 'conn-terraform'
    environmentAzureRmOverrideSubscriptionID: 'd50c38d2-13bf-4ffd-9f5a-6831160e665d'
