trigger:
  branches:
    include:
      - main
      - feature/*
pool: My_pool
stages:
- stage: TerraformBuildInit
  jobs:
  - job: BuildJob
    displayName: Terraform Init
    # pool: My_pool

    variables: 
      veshu:  '$(System.DefaultWorkingDirectory)/environment/dev'
      sub:  '06f4c176-e41e-424a-bfc2-cb4b3a4e5fe5'
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(veshu)'
        backendServiceArm: 'Secret_Service'
        backendAzureRmOverrideSubscriptionID: '$(sub)'
        backendAzureRmResourceGroupName: 'pintu12'
        backendAzureRmStorageAccountName: 'tattu101'
        backendAzureRmContainerName: 'con99'
        backendAzureRmKey: 'orange.terraform_state'
    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(veshu)'
    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(veshu)'
        environmentServiceNameAzureRM: 'Secret_Service'
        environmentAzureRmOverrideSubscriptionID: '$(sub)'

- stage: TerraformValidation
  displayName: Manua Validate
  dependsOn: TerraformBuildInit
  jobs: 
  - job: BuildManualValidate
    pool: server

    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'kapil@kapilsharmamgcgvvgmail.onmicrosoft.com'
        approvers: 'kapil@kapilsharmamgcgvvgmail.onmicrosoft.com'
        instructions: 'Please review code'
        onTimeout: 'resume'

- stage: TerraformApply
  displayName:  Terraform Apply
  dependsOn: TerraformValidation
  jobs:
  - job: BuildApply
    # pool: My_pool
    variables:
      veshu: '$(System.DefaultWorkingDirectory)/environment/dev'
      sub: '06f4c176-e41e-424a-bfc2-cb4b3a4e5fe5'

    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(veshu)'
        backendServiceArm: 'Secret_Service'
        backendAzureRmOverrideSubscriptionID: '$(sub)'
        backendAzureRmResourceGroupName: 'pintu12'
        backendAzureRmStorageAccountName: 'tattu101'
        backendAzureRmContainerName: 'con99'
        backendAzureRmKey: 'orange.terraform_state'
    # - task: TerraformTask@5
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'apply'
    #     workingDirectory: '$(veshu)'
    #     commandOptions: '-auto-approve'
    #     environmentServiceNameAzureRM: 'Secret_Service'
    #     environmentAzureRmOverrideSubscriptionID: '$(sub)'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'destroy'
        workingDirectory: '$(veshu)'
        environmentServiceNameAzureRM: 'Secret_Service'
        environmentAzureRmOverrideSubscriptionID: '$(sub)'
